/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* RESET */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f1f1f1;
  padding: clamp(20px, 5vw, 50px) 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
.container {
  width: 90%;
  background-color: #363636;
  border: 1px solid #363636;
  padding: 25px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
h1 span {
  font-weight: 700;
}

/* FORM */
form {
  width: 100%;
}
.inputs-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.inputs-container label {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
}
.inputs-container input {
  width: 100%;
  font-size: 18px;
  padding: 15px;
  border: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #f1f1f1;
}
.inputs-container input:focus {
  outline: 2px solid #d7cf07;
}

.input-group {
  width: 40%;
  min-width: 300px;
}

form button {
  display: block;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  min-width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #363636;
  background: #d7cf07;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  transition: background 0.2s ease-in-out;
}
form button:hover {
  background: #d7d007b4;
}

.info {
  text-align: center;
}

.bmi-value {
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.result {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

/* RESPONSIVE */

/* Under 800px */
@media (max-width: 744px) {
  .input-group:nth-child(2) {
    margin-top: 30px;
    margin-left: 0;
  }
}

/* Under 500px */
@media (max-width: 500px) {
  .input-group {
    width: 100%;
    min-width: auto;
  }
  .input-group input {
    width: 100%;
    min-width: auto;
    font-size: 12px;
  }
}
